<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='stylesheet' href='/styles/test.css' />
    <script src="https://kit.fontawesome.com/520a030a60.js" crossorigin="anonymous"></script>
    <title>tl;dr - the no fuss tech forum</title>
  </head>

  <body data-logged-in="{{logged_in}}">
    <section>
      <header class='header-section'>
        <a href="/"><img class='logo' src='/images/collectivelogo.png' /></a>
       
      </header>
    </section>

    {{{body}}}

    <footer>
      <p>&copy; 2023 tl;dr</p>
      {{!-- <a href="/"><img src='/images/favicon32x32.png' /></a> --}}
    </footer>
  </body>
</html>