<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel="stylesheet" type="text/css" href="./styles/test.css">
    <script src="https://kit.fontawesome.com/520a030a60.js" crossorigin="anonymous"></script>
    <title> The Tech Blog </title>
  </head>

  <body data-logged-in="{{logged_in}}">

    <nav>
        <a href="/">Home</a> |
        <a href="/dashboard">Dashboard</a> |
        {{#if logged_in}}
          <!-- User is logged in, show Log Out button -->
        <span id='logout-button' onclick="logoutHandler()">Logout</span>
        {{else}}
          <!-- User is not logged in, show Log In and Sign Up buttons -->
          <a href='/login'>Log In</a>
        {{/if}}
      </nav>

    <section class="header">
      <header class='header-section'>
        The Tech Blog / YD
      </header>
    </section>

    <section class ="centered">

    {{{body}}}

    <footer>
      <p>&copy; 2023</p>
      {{!-- <a href="/"><img src='/images/favicon32x32.png' /></a> --}}
    </footer>    </section>

    <script src='./scripts/forms.js'></script>
    <script src='./homepage.js'></script>
  </body>
</html>

