<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='stylesheet' href='/Users/danielle/bootcamp/tech-blog-w14/public/styles/test.css' />
    <script src="https://kit.fontawesome.com/520a030a60.js" crossorigin="anonymous"></script>
    <title> The Tech Blog </title>
  </head>

  <body data-logged-in="{{logged_in}}">

    <nav>
        <a href="/">Home</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/login">Login</a> |
        <a href="/logout">Logout</a>
      </nav>

    <section class="header">
      <header class='header-section'>
        The Tech Blog / YD
      </header>
    </section>

    <section class ="centered">

    {{{body}}}

    </section>

    <footer>
      <p>&copy; 2023</p>
      {{!-- <a href="/"><img src='/images/favicon32x32.png' /></a> --}}
    </footer>
  </body>
</html>

