    {{#each posts as |post|}}

    <section class="mainPost">

        <p class="title"> {{post.title}} <span class="timestamp"> {{format_date post.created_at}} </span> </p>

        <p class="postContent"> {{post.body}} </p>

    </section>

    {{/each}}
