          {{#each post.tags as |tag|}}
            <!-- Loop through the tags associated with the post -->
            <span class='post-tag'>- <a
                href='/tag/{{tag.tag_name}}'
                data-tag='{{tag.tag_name}}'
              >#{{tag.tag_name}}</a></span>
          {{/each}}