    <section class="signupSec">
        <p class="title"> Sign Up </p>

        <section class="container">
        <form action='/' method='POST' class='signup-form'>

        Username
        <input type='text' id='username-signup' name='username-signup' required />
        Email
        <input type='email' id='email-signup' name='email-signup' required />
        Password
        <input type='password' id='password-signup' name='password-signup' required />

        <button type='submit' class='btn'>Sign Up!</button>
        </form>

        <a href="/login">Login instead</a>
        </section>

    </section>

<script src='./scripts/forms.js'></script>