:root {
    --brown: rgb(31, 14, 1);
    --mid: rgb(52, 54, 75);
    --light: #4c4f6a;
    --white: white;
    --border: #a1a3ff;
    --bs-body-line-height: 1.1;
  }

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-kerning: auto;
    text-decoration: none;
    word-break: break-word;
    background-color: azure;
  }

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

nav a {
  color: white;
  padding: 5px;
  background: saddlebrown;
}

nav {
    width: 100%;
    background: saddlebrown;
    padding: 10px;
}

.header {
    width: 100%;
    background: saddlebrown;
    padding: 10px;
}

header {
    width: 200px;
    border: 10px solid mediumaquamarine;
    border-radius: 10px;
    box-shadow: 5px 4px 0px 1px dimgrey;
    padding-left: 20px;
    font-size: 20px;
    background-color: mediumaquamarine;
    margin-bottom: 10px;
}

.title {
    width: 80%;
    background: saddlebrown;
}

.mainPost, .commenting, .comment, .newPosting, .loginSec, .editPost, .signupSec {
    width: 80%;
    border: 5px solid saddlebrown;
    margin: 10px;
}

.container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 30px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 20px;
    width: auto;
}

.postContent { margin: 10px; }

.commenting {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 30px;
    background-color: white;
}

.btn {
    height: 30px;
    background-color: dimgray;
    color: white;
}

.timestamp {
    background-color: saddlebrown;
}